<p style="color: green"><%= notice %></p>

<%= render @adn %>

<div>
  <%= link_to "Edit this adn", edit_adn_path(@adn) %> |
  <%= link_to "Back to adns", adns_path %>

  <%= button_to "Destroy this adn", @adn, method: :delete %>
</div>
